# Byte-compiled / optimized / DLL files
__pycache__/

*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
sdist/
wheels/
*.egg-info/
.installed.cfg
*.egg

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
/docs/catsass-1.0.0-docs.zip
